<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="process.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="nodesrv">
          <match url="/*" />
          <action type="Rewrite" url="process.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
